@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html{
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-size: calc((100vmin/1000)*16);

}

body{
    height: 10000vh;
    background-color: white;

}

.zoomScroll{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* display: none; */

}

::-webkit-scrollbar {
    display: none;
}

.text1{
    outline: black;
    /* outline-style: solid; */
    outline-width: 3px;
    background: rgba(187, 187, 187, 0.413);
    border-radius: 0.3rem;
    font-size: 2rem;
    height: fit-content;
    padding: 0.08rem;
    width: 13rem;
    text-align: center;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.layer1{
    height: 100rem;
    width: 100rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


    
}

.layer2{
    position: absolute;
    height: 200rem;
    width: 200rem;
    font-size: 10rem;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;

}

.layer3{
    position: absolute;
    height: 100rem;
    width: 100rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.portalframe1{
    position: absolute;
    height: 200rem;
    width: 200rem;
    background-color: white;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}

.portalframe2{
    position: absolute;
    height: 200rem;
    width: 200rem;
    background-color: rgb(183, 230, 158);
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}

.portalframe3{
    position: absolute;
    height: 200rem;
    width: 200rem;
    background-color:rgb(134, 136, 217);
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}




.layer5{
    position: absolute;
    height: 100rem;
    width: 100rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.video{
    position: absolute;
    /* height: 32rem;
    width: 18rem; */
}

.image{
    position: absolute;
    width: 400px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.portal1{
    position: absolute;
    height: 100rem;
    width: 100rem;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.35);
    background-color: rgb(183, 230, 158);
}

.portal2{
    position: absolute;
    height: 100rem;
    width: 100rem;
    background-color:rgb(134, 136, 217);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.35);
}

.portal3{
    position: absolute;
    height: 100rem;
    width: 100rem;
    background-color:white;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.35);
}



.render1{
    position: absolute;
    height: 100%;
    width: 100%;
    
}



.panel{
    height: 10rem;
    width: 10rem;
    background-color: black;

}

.panel1{
    height: 10rem;
    width: 10rem;
    background-color: black;
    
}

.panel2{
    height: 10rem;
    width: 10rem;
    background-color: cyan;
    animation: rotate 5s ease 0s infinite;
    z-index: inherit;

}

.panel3{
    height: 10rem;
    width: 10rem;
    background-color: yellow;
    animation: rotate 5s ease 0s infinite reverse;
    z-index: inherit;

}


.text{
    color: black;
    

}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}